dialog {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 80%;
}
.modalBody {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  margin: 0 auto;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modalForm {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.75rem;
  width: 100%;
}
/* .modalForm label {
  /* display: flex; */
/* justify-content: space-between; */
/* text-align: center; */
/* } */
.modalForm > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modalForm input,
.modalForm select {
  /* width: 100%; */
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  min-width: 100px;
}
.modalClose,
.modalFormSubmit {
  background-color: #446fde;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
}
